<section
  class="c-bg-main f f-align-center p-right-2 p-left-2 f-justify-between p-2"
>
  <ul class="f c-white font-weight-2 m-left-2">
    <li class="m-right-6">Ler</li>
    <li>Publicar</li>
  </ul>
  <section class="f">
    <form class="f">
      <input class="input" type="text" />
      <span class="icon has-text-info">
        <i class="fas fa-info-circle"></i>
      </span>
    </form>
    <button class="button c-bg-main c-white font-weight-2">
      Login com google
    </button>
  </section>
</section>
