<section class="container f section">
  <figure class="m-right-4">
    <img
      src="
        https://www.gemstonepub.com/content/images/thumbs/0001154_the-overstreet-comic-book-price-guide-49-bat-villains-sc_450.jpeg
      "
      width="2000px"
    />
  </figure>
  <section>
    <span class="title">Gliese</span>
    <article>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisl mauris,
      ornare vel imperdiet id, interdum vitae velit. Donec pulvinar quam non
      sapien auctor tincidunt. In semper libero at elementum faucibus. Aliquam
      tellus lorem, efficitur et turpis ac, dictum laoreet nulla. Vivamus ut
      fermentum nibh. Aliquam elementum vel arcu quis ullamcorper. In a sapien
      eget tellus sagittis laoreet vel sed odio. Vestibulum ante ipsum primis in
      faucibus orci luctus et ultrices posuere cubilia Curae; Donec risus ex,
      lobortis nec bibendum non, consequat at metus. Praesent ut condimentum
      urna. Ut cursus purus neque, id lacinia odio mollis vel. Nulla laoreet et
      lorem eget ultrices. Donec nec ultrices enim. Sed aliquet lacus non
      finibus convallis. Proin scelerisque egestas tellus.
    </article>
    <button class="button m-top-4 c-bg-main c-white font-weight-2 self-end">
      Ler
    </button>
    <section class="list is-hoverable m-top-4">
      <a class="list-item">Capítulo 1</a>
      <a class="list-item">Capítulo 2</a>
      <a class="list-item">Capítulo 3</a>
      <a class="list-item">Capítulo 4</a>
    </section>
  </section>
</section>
