<section class="container m-top-3">
  <ul class="f m-bottom-4">
    <li class="m-right-6" *ngFor="let comic of comicsList" key="comic.id">
      <div
        class="thumb f f-align-center f-justify-center is-relative"
        [ngStyle]="{ backgroundImage: 'url(' + comic.image + ')' }"
        width="150px"
        (mouseenter)="mouseEnter(comic.id)"
        (mouseleave)="mouseLeave()"
      >
        <div
          [ngClass]="[isHovered === comic.id ? 'thumb-overlay is-overlay' : '']"
        ></div>
        <button
          [ngClass]="[isHovered === comic.id ? 'button' : 'is-invisible']"
        >
          Editar
        </button>
      </div>
    </li>
  </ul>
  <button class="button" (click)="toggleCreateComic(target)">
    Cadastrar novo quadrinho
  </button>
  <div [@slideInOut]="animationState" #target>
    <app-create-comic (newComicEvent)="addComic($event)"></app-create-comic>
  </div>
</section>
