$num-01: 0.0625rem; //1px
$num-02: 0.125rem; //2px
$num-03: 0.1875rem; //3px
$num-04: 0.25rem; //4px
$num-05: 0.3125rem; //5px
$num-06: 0.375rem; //6px
$num-07: 0.4375rem; //7px
$num-08: 0.5rem; //8px

$br-01: $num-01;
$br-02: $num-02;
$br-03: $num-03;
$br-04: $num-04;
$br-50: 50%;

$base-gutter: $num-08;

$box-shadow-card-sm: 0 0 $num-04 0 rgba(0, 0, 0, 0.08),
  0 $num-02 $num-04 0 rgba(0, 0, 0, 0.16);
$box-shadow-button-sm: 0 0 $num-04 0 rgba(0, 0, 0, 0.08),
  0 $num-02 $num-04 0 rgba(0, 0, 0, 0.16);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 769px,
  lg: 992px,
  xl: 1200px
) !default;

$c-main: #ff2f4f;
$c-main-lighter: #fff159;
$c-main-background: #ebebeb;
